dataset: https://www.kaggle.com/datasets/brllrb/uber-and-lyft-dataset-boston-ma

In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns,warnings
from datetime import datetime
warnings.filterwarnings('ignore')
pd.options.display.max_columns = 200
pd.options.display.max_rows = 200

In [2]:
df=pd.read_csv(r"A:\datasets\rideshare_kaggle.csv\rideshare_kaggle.csv")

In [3]:
df.shape

(693071, 57)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 57 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           693071 non-null  object
 1   timestamp                    693071 non-null  float64
 2   hour                         693071 non-null  int64
 3   day                          693071 non-null  int64
 4   month                        693071 non-null  int64
 5   datetime                     693071 non-null  object
 6   timezone                     693071 non-null  object
 7   source                       693071 non-null  object
 8   destination                  693071 non-null  object
 9   cab_type                     693071 non-null  object
 10  product_id                   693071 non-null  object
 11  name                         693071 non-null  object
 12  price                        637976 non-null  float64
 13  distance                     693071 non-null  float64
 14  surge_multiplier             693071 non-null  float64
 15  latitude                     693071 non-null  float64
 16  longitude                    693071 non-null  float64
 17  temperature                  693071 non-null  float64
 18  apparentTemperature          693071 non-null  float64
 19  short_summary                693071 non-null  object
 20  long_summary                 693071 non-null  object
 21  precipIntensity              693071 non-null  float64
 22  precipProbability            693071 non-null  float64
 23  humidity                     693071 non-null  float64
 24  windSpeed                    693071 non-null  float64
 25  windGust                     693071 non-null  float64
 26  windGustTime                 693071 non-null  int64
 27  visibility                   693071 non-null  float64
 28  temperatureHigh              693071 non-null  float64
 29  temperatureHighTime          693071 non-null  int64
 30  temperatureLow               693071 non-null  float64
 31  temperatureLowTime           693071 non-null  int64
 32  apparentTemperatureHigh      693071 non-null  float64
 33  apparentTemperatureHighTime  693071 non-null  int64
 34  apparentTemperatureLow       693071 non-null  float64
 35  apparentTemperatureLowTime   693071 non-null  int64
 36  icon                         693071 non-null  object
 37  dewPoint                     693071 non-null  float64
 38  pressure                     693071 non-null  float64
 39  windBearing                  693071 non-null  int64
 40  cloudCover                   693071 non-null  float64
 41  uvIndex                      693071 non-null  int64
 42  visibility.1                 693071 non-null  float64
 43  ozone                        693071 non-null  float64
 44  sunriseTime                  693071 non-null  int64
 45  sunsetTime                   693071 non-null  int64
 46  moonPhase                    693071 non-null  float64
 47  precipIntensityMax           693071 non-null  float64
 48  uvIndexTime                  693071 non-null  int64
 49  temperatureMin               693071 non-null  float64
 50  temperatureMinTime           693071 non-null  int64
 51  temperatureMax               693071 non-null  float64
 52  temperatureMaxTime           693071 non-null  int64
 53  apparentTemperatureMin       693071 non-null  float64
 54  apparentTemperatureMinTime   693071 non-null  int64
 55  apparentTemperatureMax       693071 non-null  float64
 56  apparentTemperatureMaxTime   693071 non-null  int64
dtypes: float64(29), int64(17), object(11)
memory usage: 301.4+ MB

In [5]:
df.describe()

,timestamp,hour,day,month,price,distance,surge_multiplier,latitude,longitude,temperature,apparentTemperature,precipIntensity,precipProbability,humidity,windSpeed,windGust,windGustTime,visibility,temperatureHigh,temperatureHighTime,temperatureLow,temperatureLowTime,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,dewPoint,pressure,windBearing,cloudCover,uvIndex,visibility.1,ozone,sunriseTime,sunsetTime,moonPhase,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
count,6.930710e+05,693071.000000,693071.000000,693071.000000,637976.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,6.930710e+05,693071.000000,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,6.930710e+05,6.930710e+05,693071.000000,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05
mean,1.544046e+09,11.619137,17.794365,11.586684,16.545125,2.189430,1.013870,42.338172,-71.066151,39.584388,35.881222,0.008922,0.146076,0.741119,6.186253,8.469860,1.544049e+09,8.467970,45.040982,1.544050e+09,34.150736,1.544102e+09,41.614054,1.544050e+09,30.139824,1.544099e+09,31.656256,1010.094766,220.055853,0.686502,0.248908,8.467970,313.513635,1.544027e+09,1.544060e+09,0.579066,0.037374,1.544044e+09,33.457774,1.544042e+09,45.261313,1.544047e+09,29.731002,1.544048e+09,41.997343,1.544048e+09
std,6.891925e+05,6.948114,9.982286,0.492429,9.324359,1.138937,0.091641,0.047840,0.020302,6.726084,7.918707,0.026901,0.328938,0.138595,3.148223,5.289179,6.928244e+05,2.602888,5.996541,6.937921e+05,6.383163,6.922923e+05,7.666138,6.941699e+05,8.057468,6.927378e+05,9.142355,13.472899,99.102736,0.358534,0.474097,2.602888,27.953061,6.911393e+05,6.906634e+05,0.244705,0.055214,6.912028e+05,6.467224,6.901954e+05,5.645046,6.901353e+05,7.110494,6.871862e+05,6.936841,6.910777e+05
min,1.543204e+09,0.000000,1.000000,11.000000,2.500000,0.020000,1.000000,42.214800,-71.105400,18.910000,12.130000,0.000000,0.000000,0.380000,0.450000,0.800000,1.543151e+09,0.717000,32.680000,1.543154e+09,17.850000,1.543234e+09,22.620000,1.543187e+09,11.810000,1.543234e+09,4.390000,988.090000,2.000000,0.000000,0.000000,0.717000,269.400000,1.543147e+09,1.543181e+09,0.090000,0.000000,1.543162e+09,15.630000,1.543122e+09,33.510000,1.543154e+09,11.810000,1.543136e+09,28.950000,1.543187e+09
25%,1.543444e+09,6.000000,13.000000,11.000000,9.000000,1.280000,1.000000,42.350300,-71.081000,36.450000,31.910000,0.000000,0.000000,0.640000,3.410000,4.060000,1.543432e+09,8.432000,42.570000,1.543439e+09,30.170000,1.543489e+09,36.570000,1.543439e+09,27.700000,1.543478e+09,27.490000,999.820000,124.000000,0.370000,0.000000,8.432000,290.900000,1.543406e+09,1.543440e+09,0.300000,0.000000,1.543421e+09,30.170000,1.543399e+09,42.570000,1.543439e+09,27.760000,1.543399e+09,36.570000,1.543439e+09
50%,1.543737e+09,12.000000,17.000000,12.000000,13.500000,2.160000,1.000000,42.351900,-71.063100,40.490000,35.900000,0.000000,0.000000,0.710000,5.910000,7.550000,1.543756e+09,9.880000,44.680000,1.543788e+09,34.180000,1.543817e+09,40.950000,1.543788e+09,30.030000,1.543817e+09,30.690000,1009.250000,258.000000,0.820000,0.000000,9.880000,307.400000,1.543752e+09,1.543785e+09,0.680000,0.000400,1.543770e+09,34.240000,1.543727e+09,44.680000,1.543788e+09,30.130000,1.543745e+09,40.950000,1.543788e+09
75%,1.544828e+09,18.000000,28.000000,12.000000,22.500000,2.920000,1.000000,42.364700,-71.054200,43.580000,40.080000,0.000000,0.000000,0.880000,8.410000,11.740000,1.544846e+09,9.996000,46.910000,1.544814e+09,38.730000,1.544836e+09,44.120000,1.544818e+09,35.320000,1.544836e+09,38.120000,1021.860000,303.000000,1.000000,0.000000,9.996000,331.800000,1.544789e+09,1.544822e+09,0.790000,0.091600,1.544807e+09,38.880000,1.544789e+09,46.910000,1.544814e+09,35.710000,1.544789e+09,44.120000,1.544818e+09
max,1.545161e+09,23.000000,30.000000,12.000000,97.500000,7.860000,3.000000,42.366100,-71.033000,57.220000,57.220000,0.144700,1.000000,0.960000,15.000000,27.250000,1.545127e+09,10.000000,57.870000,1.545160e+09,46.600000,1.545221e+09,57.200000,1.545160e+09,47.250000,1.545199e+09,50.670000,1035.550000,356.000000,1.000000,2.000000,10.000000,378.900000,1.545135e+09,1.545168e+09,0.930000,0.145900,1.545152e+09,43.100000,1.545192e+09,57.870000,1.545109e+09,40.050000,1.545134e+09,57.200000,1.545109e+09

In [6]:
df.head(7)

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,product_id,name,price,distance,surge_multiplier,latitude,longitude,temperature,apparentTemperature,short_summary,long_summary,precipIntensity,precipProbability,humidity,windSpeed,windGust,windGustTime,visibility,temperatureHigh,temperatureHighTime,temperatureLow,temperatureLowTime,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,icon,dewPoint,pressure,windBearing,cloudCover,uvIndex,visibility.1,ozone,sunriseTime,sunsetTime,moonPhase,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,lyft_line,Shared,5.0,0.44,1.0,42.2148,-71.033,42.34,37.12,Mostly Cloudy,Rain throughout the day.,0.0000,0.0,0.68,8.66,9.17,1545015600,10.000,43.68,1544968800,34.19,1545048000,37.95,1544968800,27.39,1545044400,partly-cloudy-night,32.70,1021.98,57,0.72,0,10.000,303.8,1544962084,1544994864,0.30,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,lyft_premier,Lux,11.0,0.44,1.0,42.2148,-71.033,43.58,37.35,Rain,"Rain until morning, starting again in the eve...",0.1299,1.0,0.94,11.98,11.98,1543291200,4.786,47.30,1543251600,42.10,1543298400,43.92,1543251600,36.20,1543291200,rain,41.83,1003.97,90,1.00,0,4.786,291.1,1543232969,1543266992,0.64,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,lyft,Lyft,7.0,0.44,1.0,42.2148,-71.033,38.33,32.93,Clear,Light rain in the morning.,0.0000,0.0,0.75,7.33,7.33,1543334400,10.000,47.55,1543320000,33.10,1543402800,44.12,1543320000,29.11,1543392000,clear-night,31.10,992.28,240,0.03,0,10.000,315.7,1543319437,1543353364,0.68,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,lyft_luxsuv,Lux Black XL,26.0,0.44,1.0,42.2148,-71.033,34.38,29.63,Clear,Partly cloudy throughout the day.,0.0000,0.0,0.73,5.28,5.28,1543514400,10.000,45.03,1543510800,28.90,1543579200,38.53,1543510800,26.20,1543575600,clear-night,26.64,1013.73,310,0.00,0,10.000,291.1,1543492370,1543526114,0.75,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,lyft_plus,Lyft XL,9.0,0.44,1.0,42.2148,-71.033,37.44,30.88,Partly Cloudy,Mostly cloudy throughout the day.,0.0000,0.0,0.70,9.14,9.14,1543446000,10.000,42.18,1543420800,36.71,1543478400,35.75,1543420800,30.29,1543460400,partly-cloudy-night,28.61,998.36,303,0.44,0,10.000,347.7,1543405904,1543439738,0.72,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800
5,f6f6d7e4-3e18-4922-a5f5-181cdd3fa6f2,1.545071e+09,18,17,12,2018-12-17 18:25:12,America/New_York,Haymarket Square,North Station,Lyft,lyft_lux,Lux Black,16.5,0.44,1.0,42.2148,-71.033,38.75,33.51,Overcast,Light rain in the morning and overnight.,0.0000,0.0,0.84,7.19,8.88,1545022800,8.325,40.61,1545076800,24.07,1545130800,34.97,1545080400,12.04,1545134400,cloudy,34.41,1000.46,294,1.00,1,8.325,335.8,1545048523,1545081282,0.33,0.0221,1545066000,34.19,1545048000,40.66,1545022800,27.39,1545044400,34.97,1545080400
6,462816a3-820d-408b-8549-0b39e82f65ac,1.543209e+09,5,26,11,2018-11-26 05:03:00,America/New_York,Back Bay,Northeastern University,Lyft,lyft_plus,Lyft XL,10.5,1.08,1.0,42.3503,-71.081,41.99,41.99,Overcast,"Rain until morning, starting again in the eve...",0.0000,0.0,0.91,0.53,0.88,1543287600,4.675,46.46,1543255200,42.17,1543298400,43.81,1543251600,37.08,1543298400,cloudy,39.54,1014.11,91,1.00,0,4.675,312.3,1543233004,1543266980,0.64,0.1245,1543251600,40.67,1543233600,46.46,1543255200,37.45,1543291200,43.81,1543251600

In [7]:
df.columns

Index(['id', 'timestamp', 'hour', 'day', 'month', 'datetime', 'timezone',
       'source', 'destination', 'cab_type', 'product_id', 'name', 'price',
       'distance', 'surge_multiplier', 'latitude', 'longitude', 'temperature',
       'apparentTemperature', 'short_summary', 'long_summary',
       'precipIntensity', 'precipProbability', 'humidity', 'windSpeed',
       'windGust', 'windGustTime', 'visibility', 'temperatureHigh',
       'temperatureHighTime', 'temperatureLow', 'temperatureLowTime',
       'apparentTemperatureHigh', 'apparentTemperatureHighTime',
       'apparentTemperatureLow', 'apparentTemperatureLowTime', 'icon',
       'dewPoint', 'pressure', 'windBearing', 'cloudCover', 'uvIndex',
       'visibility.1', 'ozone', 'sunriseTime', 'sunsetTime', 'moonPhase',
       'precipIntensityMax', 'uvIndexTime', 'temperatureMin',
       'temperatureMinTime', 'temperatureMax', 'temperatureMaxTime',
       'apparentTemperatureMin', 'apparentTemperatureMinTime',
       'apparentTemperatureMax', 'apparentTemperatureMaxTime'],
      dtype='object')

### id timestamp datetime latitude longitude DROP
not required/unnecessary

In [8]:
df.drop(['id','timestamp','datetime','latitude','longitude'],axis=1,inplace=True)

In [9]:
df['timezone'].nunique()

1

### timezone DROP
having a single value count

In [10]:
df.drop(['timezone'],axis=1,inplace=True)

In [11]:
df['product_id'].value_counts()

9a0e7b09-b92b-4c41-9779-2ad22b4d779d    55096
6f72dfc5-27f1-42e8-84db-ccc7a75f6969    55096
6d318bcc-22a3-4af6-bddd-b409bfce1546    55096
8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a    55095
6c84fd89-3f11-4782-9b50-97c468b19529    55095
55c66225-fbe7-4fd5-9072-eab1ece5e23e    55094
997acbb5-e102-41e1-b155-9df7de0a73f2    55091
lyft_luxsuv                             51235
lyft                                    51235
lyft_premier                            51235
lyft_lux                                51235
lyft_plus                               51235
lyft_line                               51233
Name: product_id, dtype: int64

In [12]:
df['name'].value_counts()

UberXL          55096
Black SUV       55096
WAV             55096
Black           55095
Taxi            55095
UberX           55094
UberPool        55091
Lyft XL         51235
Lyft            51235
Lux Black XL    51235
Lux             51235
Lux Black       51235
Shared          51233
Name: name, dtype: int64

### product_id DROP
we have similar column named 'name'

In [13]:
df.drop(['product_id'],axis=1,inplace=True)

### surge_multiplier
when there are more riders than drivers they increase the price with this multiplier

In [14]:
df['surge_multiplier'].value_counts()

1.00    672096
1.25     11085
1.50      5065
1.75      2420
2.00      2239
2.50       154
3.00        12
Name: surge_multiplier, dtype: int64

### temperatureHigh, temperatureHighTime, temperatureLow, temperatureLowTime, apparentTemperatureHigh, apparentTemperatureHighTime, apparentTemperatureLow, apparentTemperatureLowTime  DROP
As we have 'apparentTemperature' and 'temperature' instead, it is more meaningful wrt data and also others will more likely complicated the analysis
Apparent Temperature- Considers atmospheric temp, relative humidity, wind speed

In [15]:
df.drop(['temperatureHigh','temperatureHighTime', 'temperatureLow', 'temperatureLowTime','apparentTemperatureHigh', 'apparentTemperatureHighTime','apparentTemperatureLow', 'apparentTemperatureLowTime'],axis=1,inplace=True)

In [16]:
df[['short_summary','long_summary']].head(10)

     short_summary                                       long_summary
0   Mostly Cloudy                           Rain throughout the day.
1            Rain    Rain until morning, starting again in the eve...
2           Clear                         Light rain in the morning.
3           Clear                  Partly cloudy throughout the day.
4   Partly Cloudy                  Mostly cloudy throughout the day.
5        Overcast           Light rain in the morning and overnight.
6        Overcast    Rain until morning, starting again in the eve...
7      Light Rain                          Light rain until evening.
8           Foggy                              Foggy in the morning.
9      Light Rain                         Light rain in the morning.

### long_summary DROP
we can use 'short_summary' column since it is more consize and easier to classify

In [17]:
df.drop('long_summary',axis=1,inplace=True)

### precipIntensity 
Also called Rain Intensity which determines the avg rainfall rate in mm/hr or mm/min

### precipProbability
Probability/Chances to rain

In [18]:
df['precipIntensity']

0         0.0000
1         0.1299
2         0.0000
3         0.0000
4         0.0000
           ...
693066    0.0000
693067    0.0000
693068    0.0000
693069    0.0000
693070    0.0000
Name: precipIntensity, Length: 693071, dtype: float64

In [19]:
df['precipProbability']

0         0.0
1         1.0
2         0.0
3         0.0
4         0.0
         ...
693066    0.0
693067    0.0
693068    0.0
693069    0.0
693070    0.0
Name: precipProbability, Length: 693071, dtype: float64

### Gust
A sudden burst in wind speed is called Wind gusts

In [20]:
df[['windSpeed','windGust','windGustTime']]

        windSpeed  windGust  windGustTime
0            8.66      9.17    1545015600
1           11.98     11.98    1543291200
2            7.33      7.33    1543334400
3            5.28      5.28    1543514400
4            9.14      9.14    1543446000
...           ...       ...           ...
693066       2.34      2.87    1543672800
693067       2.34      2.87    1543672800
693068       2.34      2.87    1543672800
693069       2.34      2.87    1543672800
693070       2.34      2.87    1543672800

[693071 rows x 3 columns]

### windGustTime DROP
The Wind Gust always lasts for about 20sec approx and will last similar time again

In [21]:
df.drop('windGustTime',axis=1,inplace=True)

### dewPoint 
Atmospheric temperature below which water droplets begin to condense and dew can form (ex: dew on leaves in the morning)

In [22]:
df['dewPoint'].head(10)

0    32.70
1    41.83
2    31.10
3    26.64
4    28.61
5    34.41
6    39.54
7    48.02
8    44.50
9    43.52
Name: dewPoint, dtype: float64

### windBearing DROP
Wind Direction, can be read from cardinal/compass
Wind direction will not affect the cab analysis

In [23]:
df.drop(['windBearing'],axis=1,inplace=True)

### cloudCover 
Tells how much sky is covered with clouds (0-1)
### uvIndex
represents the amount of skin damaging UV radiation reaching earth 
- (0-2) low
- (3-5) Moderate
- (6-7) High

### moonPhase
It shows the percentage of moon visible(0-1)

In [31]:
df[['cloudCover','uvIndex','ozone','moonPhase']]

        cloudCover  uvIndex  ozone  moonPhase
0             0.72        0  303.8       0.30
1             1.00        0  291.1       0.64
2             0.03        0  315.7       0.68
3             0.00        0  291.1       0.75
4             0.44        0  347.7       0.72
...            ...      ...    ...        ...
693066        0.31        0  271.5       0.82
693067        0.31        0  271.5       0.82
693068        0.31        0  271.5       0.82
693069        0.31        0  271.5       0.82
693070        0.31        0  271.5       0.82

[693071 rows x 4 columns]

In [25]:
df.columns

Index(['hour', 'day', 'month', 'source', 'destination', 'cab_type', 'name',
       'price', 'distance', 'surge_multiplier', 'temperature',
       'apparentTemperature', 'short_summary', 'precipIntensity',
       'precipProbability', 'humidity', 'windSpeed', 'windGust', 'visibility',
       'icon', 'dewPoint', 'pressure', 'cloudCover', 'uvIndex', 'visibility.1',
       'ozone', 'sunriseTime', 'sunsetTime', 'moonPhase', 'precipIntensityMax',
       'uvIndexTime', 'temperatureMin', 'temperatureMinTime', 'temperatureMax',
       'temperatureMaxTime', 'apparentTemperatureMin',
       'apparentTemperatureMinTime', 'apparentTemperatureMax',
       'apparentTemperatureMaxTime'],
      dtype='object')

In [26]:
df[['visibility.1','visibility']].corr()

              visibility.1  visibility
visibility.1           1.0         1.0
visibility             1.0         1.0

In [27]:
df.drop('visibility.1',axis=1,inplace=True) #duplicate column of 'visibility'

In [29]:
for i in df['sunriseTime'].values[:10]:
    print(datetime.fromtimestamp(i),i)

2018-12-16 17:38:04 1544962084
2018-11-26 17:19:29 1543232969
2018-11-27 17:20:37 1543319437
2018-11-29 17:22:50 1543492370
2018-11-28 17:21:44 1543405904
2018-12-17 17:38:43 1545048523
2018-11-26 17:20:04 1543233004
2018-12-02 17:26:38 1543751798
2018-12-03 17:27:39 1543838259
2018-11-27 17:21:12 1543319472

In [33]:
df[['temperatureMin','temperature','temperatureMax']]

        temperatureMin  temperature  temperatureMax
0                39.89        42.34           43.68
1                40.49        43.58           47.30
2                35.36        38.33           47.55
3                34.67        34.38           45.03
4                33.10        37.44           42.18
...                ...          ...             ...
693066           31.42        37.05           44.76
693067           31.42        37.05           44.76
693068           31.42        37.05           44.76
693069           31.42        37.05           44.76
693070           31.42        37.05           44.76

[693071 rows x 3 columns]

### DROPing columns which are less likely important

In [49]:
df.drop(['uvIndexTime','temperatureMinTime','temperatureMaxTime','apparentTemperatureMinTime','apparentTemperatureMaxTime'],axis=1,inplace=True)

In [50]:
df.shape

(693071, 33)

In [51]:
df.columns

Index(['hour', 'day', 'month', 'source', 'destination', 'cab_type', 'name',
       'price', 'distance', 'surge_multiplier', 'temperature',
       'apparentTemperature', 'short_summary', 'precipIntensity',
       'precipProbability', 'humidity', 'windSpeed', 'windGust', 'visibility',
       'icon', 'dewPoint', 'pressure', 'cloudCover', 'uvIndex', 'ozone',
       'sunriseTime', 'sunsetTime', 'moonPhase', 'precipIntensityMax',
       'temperatureMin', 'temperatureMax', 'apparentTemperatureMin',
       'apparentTemperatureMax'],
      dtype='object')

In [52]:
df.head()

,hour,day,month,source,destination,cab_type,name,price,distance,surge_multiplier,temperature,apparentTemperature,short_summary,precipIntensity,precipProbability,humidity,windSpeed,windGust,visibility,icon,dewPoint,pressure,cloudCover,uvIndex,ozone,sunriseTime,sunsetTime,moonPhase,precipIntensityMax,temperatureMin,temperatureMax,apparentTemperatureMin,apparentTemperatureMax
0,9,16,12,Haymarket Square,North Station,Lyft,Shared,5.0,0.44,1.0,42.34,37.12,Mostly Cloudy,0.0000,0.0,0.68,8.66,9.17,10.000,partly-cloudy-night,32.70,1021.98,0.72,0,303.8,1544962084,1544994864,0.30,0.1276,39.89,43.68,33.73,38.07
1,2,27,11,Haymarket Square,North Station,Lyft,Lux,11.0,0.44,1.0,43.58,37.35,Rain,0.1299,1.0,0.94,11.98,11.98,4.786,rain,41.83,1003.97,1.00,0,291.1,1543232969,1543266992,0.64,0.1300,40.49,47.30,36.20,43.92
2,1,28,11,Haymarket Square,North Station,Lyft,Lyft,7.0,0.44,1.0,38.33,32.93,Clear,0.0000,0.0,0.75,7.33,7.33,10.000,clear-night,31.10,992.28,0.03,0,315.7,1543319437,1543353364,0.68,0.1064,35.36,47.55,31.04,44.12
3,4,30,11,Haymarket Square,North Station,Lyft,Lux Black XL,26.0,0.44,1.0,34.38,29.63,Clear,0.0000,0.0,0.73,5.28,5.28,10.000,clear-night,26.64,1013.73,0.00,0,291.1,1543492370,1543526114,0.75,0.0000,34.67,45.03,30.30,38.53
4,3,29,11,Haymarket Square,North Station,Lyft,Lyft XL,9.0,0.44,1.0,37.44,30.88,Partly Cloudy,0.0000,0.0,0.70,9.14,9.14,10.000,partly-cloudy-night,28.61,998.36,0.44,0,347.7,1543405904,1543439738,0.72,0.0001,33.10,42.18,29.11,35.75

## NULL IMPUTATION

In [60]:
num_cols=df.select_dtypes(include=['int64','float64']).columns
cat_cols=df.select_dtypes(include='object').columns

### Numerical Null Imputation

In [61]:
num_null_cols=[]
for i in num_cols:
    if df[i].isnull().sum()>0:
        print(i,df[i].isnull().sum())
        num_null_cols.append(i)

price 55095

In [62]:
cat_null_cols=[]
for i in cat_cols:
    if df[i].isnull().sum()>0:
        print(i,df[i].isnull().sum())
        cat_null_cols.append(i)

In [75]:
print(round((df['price'].isnull().sum()/df.shape[0])*100),'% of null values')

8 % of null values