In [1]:
import pandas as pd , matplotlib as plt , numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv")
print(df.shape)
df.describe()

(53392, 33)

,YearStart,YearEnd,Data_Value_Unit,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,LocationID
count,53392.000000,53392.000000,0.0,48346.000000,48346.000000,48346.000000,48346.000000,48346.00000,53392.000000
mean,2013.281465,2013.281465,NaN,31.156681,31.156681,26.892227,35.989997,3889.19286,30.282215
std,1.693300,1.693300,NaN,10.247033,10.247033,10.038584,11.205813,19829.42129,16.821318
min,2011.000000,2011.000000,NaN,0.900000,0.900000,0.300000,3.000000,50.00000,1.000000
25%,2012.000000,2012.000000,NaN,24.100000,24.100000,20.000000,28.200000,566.00000,17.000000
50%,2013.000000,2013.000000,NaN,30.700000,30.700000,26.450000,35.600000,1209.00000,30.000000
75%,2015.000000,2015.000000,NaN,37.000000,37.000000,32.900000,42.200000,2519.00000,44.000000
max,2016.000000,2016.000000,NaN,77.600000,77.600000,69.500000,87.700000,476876.00000,78.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53392 entries, 0 to 53391
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   53392 non-null  int64
 1   YearEnd                     53392 non-null  int64
 2   LocationAbbr                53392 non-null  object
 3   LocationDesc                53392 non-null  object
 4   Datasource                  53392 non-null  object
 5   Class                       53392 non-null  object
 6   Topic                       53392 non-null  object
 7   Question                    53392 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             53392 non-null  object
 10  Data_Value                  48346 non-null  float64
 11  Data_Value_Alt              48346 non-null  float64
 12  Data_Value_Footnote_Symbol  5046 non-null   object
 13  Data_Value_Footnote         5046 non-null   object
 14  Low_Confidence_Limit        48346 non-null  float64
 15  High_Confidence_Limit       48346 non-null  float64
 16  Sample_Size                 48346 non-null  float64
 17  Total                       1907 non-null   object
 18  Age(years)                  11438 non-null  object
 19  Education                   7628 non-null   object
 20  Gender                      3814 non-null   object
 21  Income                      13349 non-null  object
 22  Race/Ethnicity              15256 non-null  object
 23  GeoLocation                 52384 non-null  object
 24  ClassID                     53392 non-null  object
 25  TopicID                     53392 non-null  object
 26  QuestionID                  53392 non-null  object
 27  DataValueTypeID             53392 non-null  object
 28  LocationID                  53392 non-null  int64
 29  StratificationCategory1     53392 non-null  object
 30  Stratification1             53392 non-null  object
 31  StratificationCategoryId1   53392 non-null  object
 32  StratificationID1           53392 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 13.4+ MB

In [4]:
df

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Asian,RACE,RACEASN
53388,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI
53389,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA
53390,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
53391,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Other,RACE,RACEOTH

In [5]:
df['Class'].value_counts()

Physical Activity          26628
Obesity / Weight Status    17920
Fruits and Vegetables       8844
Name: Class, dtype: int64

In [6]:
#Since Class and Topic columns are same we can drop one of them(topic)
print(df.shape)
df.drop('Topic',axis=1,inplace=True)
print(df.shape) ##confirming its deleted

(53392, 33)
(53392, 32)

In [7]:
df['Question'].value_counts() #maybe one-hot encoding

Percent of adults aged 18 years and older who have obesity                                                                                                                                                                                               8960
Percent of adults aged 18 years and older who have an overweight classification                                                                                                                                                                          8960
Percent of adults who engage in no leisure-time physical activity                                                                                                                                                                                        8932
Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)                                                     4424
Percent of adults who report consuming vegetables less than one time daily                                                                                                                                                                               4424
Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week    4424
Percent of adults who engage in muscle-strengthening activities on 2 or more days a week                                                                                                                                                                 4424
Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)                                                    4424
Percent of adults who report consuming fruit less than one time daily                                                                                                                                                                                    4420
Name: Question, dtype: int64

In [8]:
print(df.shape)
print(df['Datasource'].value_counts()) #Since its same for all the rows its not necessary
df.drop(['Datasource','Data_Value_Type','Data_Value_Footnote_Symbol', 'DataValueTypeID'],axis=1,inplace=True)
df.drop(['TopicID','LocationAbbr','LocationDesc'],axis=1,inplace=True)#Since LocationID is present and its unnessary for training
df.drop(['Class','Question','GeoLocation','StratificationCategory1','Stratification1'],axis=1,inplace=True)#Since their respective IDs are present, others are unnessary
df.drop(['Data_Value_Unit','Data_Value_Footnote','Total', 'Age(years)', 'Education', 'Gender','Income', 'Race/Ethnicity'],axis=1,inplace=True)#Null columns or >50% null values 
df.drop(['YearEnd'],axis=1,inplace=True)#Difference of YearStart and YearEnd is same and are identical
print(df.shape)

(53392, 32)
Behavioral Risk Factor Surveillance System    53392
Name: Datasource, dtype: int64
(53392, 11)

In [9]:
df.columns

Index(['YearStart', 'Data_Value', 'Data_Value_Alt', 'Low_Confidence_Limit',
       'High_Confidence_Limit ', 'Sample_Size', 'ClassID', 'QuestionID',
       'LocationID', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [10]:

print(df['Data_Value_Alt'].value_counts()) #identical columns, maybe drop
print('--------------------------------------')
print(df['Data_Value'].value_counts())

29.6    227
30.2    227
34.7    221
35.4    220
32.7    219
       ...
71.2      1
69.1      1
77.6      1
70.1      1
66.9      1
Name: Data_Value_Alt, Length: 669, dtype: int64
--------------------------------------
29.6    227
30.2    227
34.7    221
35.4    220
32.7    219
       ...
71.2      1
69.1      1
77.6      1
70.1      1
66.9      1
Name: Data_Value, Length: 669, dtype: int64

## Why the count is greater than no. of rows?

In [11]:
print(df['Sample_Size'].value_counts().count())

8123

In [12]:
print(df.shape)
df.head(2)

(53392, 11)

,YearStart,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,ClassID,QuestionID,LocationID,StratificationCategoryId1,StratificationID1
0,2011,32.0,32.0,30.5,33.5,7304.0,OWS,Q036,1,OVR,OVERALL
1,2011,32.3,32.3,29.9,34.7,2581.0,OWS,Q036,1,GEN,MALE

In [13]:
df['ClassID'].value_counts()

PA     26628
OWS    17920
FV      8844
Name: ClassID, dtype: int64

In [14]:
df['QuestionID'].value_counts()

Q036    8960
Q037    8960
Q047    8932
Q019    4424
Q046    4424
Q045    4424
Q044    4424
Q043    4424
Q018    4420
Name: QuestionID, dtype: int64

In [15]:
df['StratificationID1'].value_counts()

AGEYR4554      1907
EDUHSGRAD      1907
RACE2PLUS      1907
INC1525        1907
INC75PLUS      1907
EDUHS          1907
RACEASN        1907
RACEOTH        1907
INC5075        1907
RACEWHT        1907
MALE           1907
INCLESS15      1907
RACENAA        1907
RACEHPI        1907
FEMALE         1907
EDUCOTEC       1907
INC2535        1907
RACEHIS        1907
OVERALL        1907
RACEBLK        1907
INCNR          1907
INC3550        1907
AGEYR3544      1907
EDUCOGRAD      1907
AGEYR2534      1906
AGEYR65PLUS    1906
AGEYR5564      1906
AGEYR1824      1906
Name: StratificationID1, dtype: int64

# Numerical Imputation

In [34]:
num_cols=df.select_dtypes(include=['int64','float64']).columns
num_cols

Index(['YearStart', 'Data_Value', 'Data_Value_Alt', 'Low_Confidence_Limit',
       'High_Confidence_Limit ', 'Sample_Size', 'LocationID'],
      dtype='object')

In [35]:
num_null_columns=[]
for column in num_cols:
    if df[column].isnull().sum()>0:
        num_null_columns.append(column)
        print(column,df[column].isnull().sum())

Data_Value 5046
Data_Value_Alt 5046
Low_Confidence_Limit 5046
High_Confidence_Limit  5046
Sample_Size 5046

## Outliers detection

In [36]:
for column in num_cols:
    iqr=df[column].quantile(0.75) - df[column].quantile(0.25)
    lower_range=df[column].quantile(0.25) - (1.5*iqr)
    higher_range=df[column].quantile(0.75) + (1.5*iqr)
    
    if df[column][df[column]<lower_range].count() > 0 or df[column][df[column]>higher_range].count() > 0:
        pass