dataset: https://www.kaggle.com/datasets/jinxzed/londonairbnb?select=Uphaar_listing.csv

In [185]:
import pandas as pd, numpy as np,matplotlib.pyplot as plt, seaborn as sns
from sklearn.preprocessing import LabelEncoder
import statsmodels.api as sm
pd.options.display.max_columns=50

In [186]:
df=pd.read_csv(r"A:\datasets\Uphaar_listing.csv\Uphaar_listing.csv")
df.head()

,Unnamed: 0,price_x,experiences_offered,host_is_superhost,host_listings_count,host_has_profile_pic,host_identity_verified,is_location_exact,property_type,room_type_y,accommodates,bathrooms,bedrooms,beds,bed_type,guests_included,extra_people,minimum_nights_y,maximum_nights,availability_30,availability_60,availability_90,availability_365_y,number_of_reviews_y,number_of_reviews_ltm,requires_license,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count_y,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,host_location,host_since,street,city,security_deposit,cleaning_fee,id
0,0,88,family,f,3.0,t,t,t,Apartment,Entire home/apt,4,1.0,1.0,3.0,Real Bed,2,20.0,2,180,12,42,72,347,192,9,f,t,f,strict_14_with_grace_period,f,t,2,2,0,0,"London, England, United Kingdom",2009-10-03,"London, United Kingdom",London,$400.00,$35.00,11551
1,1,65,business,f,4.0,t,t,t,Apartment,Private room,2,1.0,1.0,0.0,Real Bed,1,15.0,1,29,12,42,72,347,21,5,f,f,f,moderate,f,f,3,1,2,0,"London, England, United Kingdom",2009-11-16,"Islington, Greater London, United Kingdom",Islington,$100.00,$15.00,13913
2,2,100,romantic,f,1.0,t,t,t,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,2,0.0,10,50,0,0,13,288,89,4,f,t,f,strict_14_with_grace_period,t,t,1,1,0,0,"Kensington, England, United Kingdom",2009-12-05,"London, United Kingdom",London,$150.00,$50.00,15400
3,3,300,none,f,18.0,t,t,f,Apartment,Entire home/apt,6,2.0,3.0,3.0,Real Bed,3,10.0,3,365,9,39,69,326,42,2,f,t,f,strict_14_with_grace_period,f,f,15,15,0,0,"London, England, United Kingdom",2010-01-04,"London, Fitzrovia, United Kingdom",London,$350.00,$90.00,17402
4,4,150,business,f,3.0,t,f,t,Bed and breakfast,Private room,2,1.0,1.0,1.0,Real Bed,1,0.0,3,21,11,41,71,346,0,0,f,f,f,strict_14_with_grace_period,f,f,2,0,2,0,"London, England, United Kingdom",2010-01-05,"London, United Kingdom",London,NaN,NaN,17506

In [187]:
df.shape

(83709, 42)

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83709 entries, 0 to 83708
Data columns (total 42 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    83709 non-null  int64
 1   price_x                                       83709 non-null  int64
 2   experiences_offered                           83709 non-null  object
 3   host_is_superhost                             83698 non-null  object
 4   host_listings_count                           83698 non-null  float64
 5   host_has_profile_pic                          83698 non-null  object
 6   host_identity_verified                        83698 non-null  object
 7   is_location_exact                             83709 non-null  object
 8   property_type                                 83709 non-null  object
 9   room_type_y                                   83709 non-null  object
 10  accommodates                                  83709 non-null  int64
 11  bathrooms                                     83576 non-null  float64
 12  bedrooms                                      83545 non-null  float64
 13  beds                                          82725 non-null  float64
 14  bed_type                                      83706 non-null  object
 15  guests_included                               83709 non-null  int64
 16  extra_people                                  83709 non-null  float64
 17  minimum_nights_y                              83709 non-null  int64
 18  maximum_nights                                83709 non-null  int64
 19  availability_30                               83709 non-null  int64
 20  availability_60                               83709 non-null  int64
 21  availability_90                               83709 non-null  int64
 22  availability_365_y                            83709 non-null  int64
 23  number_of_reviews_y                           83709 non-null  int64
 24  number_of_reviews_ltm                         83709 non-null  int64
 25  requires_license                              83709 non-null  object
 26  instant_bookable                              83709 non-null  object
 27  is_business_travel_ready                      83709 non-null  object
 28  cancellation_policy                           83709 non-null  object
 29  require_guest_profile_picture                 83709 non-null  object
 30  require_guest_phone_verification              83709 non-null  object
 31  calculated_host_listings_count_y              83709 non-null  int64
 32  calculated_host_listings_count_entire_homes   83709 non-null  int64
 33  calculated_host_listings_count_private_rooms  83709 non-null  int64
 34  calculated_host_listings_count_shared_rooms   83709 non-null  int64
 35  host_location                                 83501 non-null  object
 36  host_since                                    83698 non-null  object
 37  street                                        83709 non-null  object
 38  city                                          83256 non-null  object
 39  security_deposit                              54179 non-null  object
 40  cleaning_fee                                  61607 non-null  object
 41  id                                            83709 non-null  int64
dtypes: float64(5), int64(17), object(20)
memory usage: 26.8+ MB

In [189]:
df.describe()

,Unnamed: 0,price_x,host_listings_count,accommodates,bathrooms,bedrooms,beds,guests_included,extra_people,minimum_nights_y,maximum_nights,availability_30,availability_60,availability_90,availability_365_y,number_of_reviews_y,number_of_reviews_ltm,calculated_host_listings_count_y,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,id
count,83709.000000,83709.000000,83698.000000,83709.000000,83576.000000,83545.000000,82725.000000,83709.000000,83709.000000,83709.000000,8.370900e+04,83709.000000,83709.000000,83709.000000,83709.000000,83709.000000,83709.000000,83709.000000,83709.000000,83709.000000,83709.000000,8.370900e+04
mean,41854.942360,127.521664,25.969904,3.173482,1.308210,1.408965,1.739909,1.607032,7.392873,4.632250,1.915622e+04,4.906868,18.481274,32.513254,117.366651,16.904718,4.750397,19.587058,16.756143,2.166482,0.051333,2.502263e+07
std,24165.694388,282.327202,145.825064,2.013219,0.621894,0.933268,1.295726,1.364971,14.303404,19.800467,3.903712e+06,5.507494,19.399954,33.136850,136.115257,36.606916,9.671885,99.471139,97.734106,12.728904,0.704368,1.249012e+07
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.155100e+04
25%,20927.000000,46.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,3.100000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.522811e+07
50%,41855.000000,81.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,2.000000,1.125000e+03,0.000000,7.000000,16.000000,69.000000,4.000000,1.000000,1.000000,1.000000,1.000000,0.000000,2.546694e+07
75%,62783.000000,139.000000,4.000000,4.000000,1.500000,2.000000,2.000000,2.000000,10.000000,3.000000,1.125000e+03,11.000000,40.000000,70.000000,249.000000,17.000000,5.000000,4.000000,2.000000,1.000000,0.000000,3.651236e+07
max,83710.000000,19970.000000,3142.000000,32.000000,35.000000,50.000000,50.000000,46.000000,247.000000,1125.000000,1.000000e+09,30.000000,60.000000,90.000000,365.000000,775.000000,334.000000,921.000000,919.000000,223.000000,18.000000,4.375172e+07

### Dropping Unique Columns

In [190]:
df.drop(['Unnamed: 0','id'],axis=1,inplace=True)

### Dropping columns having a single class

In [191]:
df.drop(['requires_license','is_business_travel_ready'],axis=1,inplace=True)

In [192]:
df['cleaning_fee']=df['cleaning_fee'].astype('str')
x=df['cleaning_fee'].to_list()
for i in range(len(x)):
    x[i]=x[i].strip('$')
    x[i]=x[i].replace(',','')
    if x[i]=='nan'or x[i]=='NaN':
        x[i]=np.nan
df['cleaning_fee']=pd.DataFrame(x)        
df['cleaning_fee']=pd.to_numeric(df['cleaning_fee'])

In [193]:
df['security_deposit']=df['security_deposit'].astype('str')
x=df['security_deposit'].to_list()
for i in range(len(x)):
    x[i]=x[i].strip('$')
    x[i]=x[i].replace(',','')
    if x[i]=='nan'or x[i]=='NaN':
        x[i]=np.nan
df['security_deposit']=pd.DataFrame(x)        
df['security_deposit']=pd.to_numeric(df['security_deposit'])

In [194]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83709 entries, 0 to 83708
Data columns (total 38 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   price_x                                       83709 non-null  int64
 1   experiences_offered                           83709 non-null  object
 2   host_is_superhost                             83698 non-null  object
 3   host_listings_count                           83698 non-null  float64
 4   host_has_profile_pic                          83698 non-null  object
 5   host_identity_verified                        83698 non-null  object
 6   is_location_exact                             83709 non-null  object
 7   property_type                                 83709 non-null  object
 8   room_type_y                                   83709 non-null  object
 9   accommodates                                  83709 non-null  int64
 10  bathrooms                                     83576 non-null  float64
 11  bedrooms                                      83545 non-null  float64
 12  beds                                          82725 non-null  float64
 13  bed_type                                      83706 non-null  object
 14  guests_included                               83709 non-null  int64
 15  extra_people                                  83709 non-null  float64
 16  minimum_nights_y                              83709 non-null  int64
 17  maximum_nights                                83709 non-null  int64
 18  availability_30                               83709 non-null  int64
 19  availability_60                               83709 non-null  int64
 20  availability_90                               83709 non-null  int64
 21  availability_365_y                            83709 non-null  int64
 22  number_of_reviews_y                           83709 non-null  int64
 23  number_of_reviews_ltm                         83709 non-null  int64
 24  instant_bookable                              83709 non-null  object
 25  cancellation_policy                           83709 non-null  object
 26  require_guest_profile_picture                 83709 non-null  object
 27  require_guest_phone_verification              83709 non-null  object
 28  calculated_host_listings_count_y              83709 non-null  int64
 29  calculated_host_listings_count_entire_homes   83709 non-null  int64
 30  calculated_host_listings_count_private_rooms  83709 non-null  int64
 31  calculated_host_listings_count_shared_rooms   83709 non-null  int64
 32  host_location                                 83501 non-null  object
 33  host_since                                    83698 non-null  object
 34  street                                        83709 non-null  object
 35  city                                          83256 non-null  object
 36  security_deposit                              54179 non-null  float64
 37  cleaning_fee                                  61607 non-null  float64
dtypes: float64(7), int64(15), object(16)
memory usage: 24.3+ MB

In [195]:
num_cols=df.select_dtypes(include=['int64','float64']).columns
cat_cols=df.select_dtypes(include='object').columns
num_cols,cat_cols

(Index(['price_x', 'host_listings_count', 'accommodates', 'bathrooms',
        'bedrooms', 'beds', 'guests_included', 'extra_people',
        'minimum_nights_y', 'maximum_nights', 'availability_30',
        'availability_60', 'availability_90', 'availability_365_y',
        'number_of_reviews_y', 'number_of_reviews_ltm',
        'calculated_host_listings_count_y',
        'calculated_host_listings_count_entire_homes',
        'calculated_host_listings_count_private_rooms',
        'calculated_host_listings_count_shared_rooms', 'security_deposit',
        'cleaning_fee'],
       dtype='object'),
 Index(['experiences_offered', 'host_is_superhost', 'host_has_profile_pic',
        'host_identity_verified', 'is_location_exact', 'property_type',
        'room_type_y', 'bed_type', 'instant_bookable', 'cancellation_policy',
        'require_guest_profile_picture', 'require_guest_phone_verification',
        'host_location', 'host_since', 'street', 'city'],
       dtype='object'))

### Finding Null columns

In [196]:
num_null_cols=[]
cat_null_cols=[]
for i in num_cols:
    if df[i].isnull().sum()>0:
        num_null_cols.append(i)
for i in cat_cols:
    if df[i].isnull().sum()>0:
        cat_null_cols.append(i)
num_null_cols,cat_null_cols

(['host_listings_count',
  'bathrooms',
  'bedrooms',
  'beds',
  'security_deposit',
  'cleaning_fee'],
 ['host_is_superhost',
  'host_has_profile_pic',
  'host_identity_verified',
  'bed_type',
  'host_location',
  'host_since',
  'city'])

### Finding outlier columns

In [197]:
outlier_cols=[]
for i in num_cols:
    iqr=df[i].quantile(0.75)-df[i].quantile(0.25)
    higher_range=df[i].quantile(0.75)+(1.5*iqr)
    lower_range=df[i].quantile(0.25)-(1.5*iqr)
    if df[i][df[i]<lower_range].count()>0 or df[i][df[i]>higher_range].count()>0:
        outlier_cols.append(i)
outlier_cols

['price_x',
 'host_listings_count',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'guests_included',
 'extra_people',
 'minimum_nights_y',
 'maximum_nights',
 'availability_30',
 'number_of_reviews_y',
 'number_of_reviews_ltm',
 'calculated_host_listings_count_y',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'security_deposit',
 'cleaning_fee']

### Numerical Null Imputation

In [198]:
for i in num_null_cols:
    if i in outlier_cols:
        df[i]=df[i].fillna(df[i].median())
    else:
        df[i]=df[i].fillna(df[i].mean())

In [199]:
for i in num_null_cols:
    if df[i].isnull().sum()>0:
        print(True)
    else:
        print(False)

False
False
False
False
False
False

### Categorical Null Imputation

In [200]:
for i in cat_null_cols:
    df[i]=df[i].fillna(df[i].mode()[0])

In [201]:
for i in cat_null_cols:
    if df[i].isnull().sum()>0:
        print(True)
    else:
        print(False)

False
False
False
False
False
False
False

In [202]:
df[outlier_cols]

,price_x,host_listings_count,accommodates,bathrooms,bedrooms,beds,guests_included,extra_people,minimum_nights_y,maximum_nights,availability_30,number_of_reviews_y,number_of_reviews_ltm,calculated_host_listings_count_y,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,security_deposit,cleaning_fee
0,88,3.0,4,1.0,1.0,3.0,2,20.0,2,180,12,192,9,2,2,0,0,400.0,35.0
1,65,4.0,2,1.0,1.0,0.0,1,15.0,1,29,12,21,5,3,1,2,0,100.0,15.0
2,100,1.0,2,1.0,1.0,1.0,2,0.0,10,50,0,89,4,1,1,0,0,150.0,50.0
3,300,18.0,6,2.0,3.0,3.0,3,10.0,3,365,9,42,2,15,15,0,0,350.0,90.0
4,150,3.0,2,1.0,1.0,1.0,1,0.0,3,21,11,0,0,2,0,2,0,100.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83704,28,1.0,11,6.0,10.0,11.0,1,0.0,1,90,11,0,0,1,0,1,0,456.0,25.0
83705,1880,144.0,6,1.0,2.0,3.0,3,15.0,1,1125,12,0,0,30,30,0,0,0.0,125.0
83706,66,1.0,4,1.0,1.0,2.0,1,0.0,3,1125,13,0,0,1,1,0,0,250.0,70.0
83707,69,2.0,2,1.0,1.0,2.0,1,25.0,7,60,8,0,0,1,0,1,0,100.0,19.0
83708,55,2.0,1,1.0,1.0,1.0,1,25.0,29,61,11,0,0,2,1,1,0,100.0,30.0

### Outlier Imputation

In [203]:
for i in outlier_cols:
    iqr=df[i].quantile(0.75)-df[i].quantile(0.25)
    higher_range=df[i].quantile(0.75)+(1.5*iqr)
    lower_range=df[i].quantile(0.25)-(1.5*iqr)
    replace_higher_value=df[i].quantile(0.9)
    replace_lower_value=df[i].quantile(0.1)
    outlier_treated=np.where(df[i]>higher_range,replace_higher_value,df[i])
    df[i]=pd.DataFrame(outlier_treated)
    outlier_treated=np.where(df[i]<lower_range,replace_lower_value,df[i])
    df[i]=pd.DataFrame(outlier_treated)

In [204]:
df[outlier_cols]

,price_x,host_listings_count,accommodates,bathrooms,bedrooms,beds,guests_included,extra_people,minimum_nights_y,maximum_nights,availability_30,number_of_reviews_y,number_of_reviews_ltm,calculated_host_listings_count_y,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,security_deposit,cleaning_fee
0,88.0,3.0,4.0,1.0,1.0,3.0,2.0,20.0,2.0,180.0,12.0,45.0,9.0,2.0,2.0,0.0,0.0,350.0,35.0
1,65.0,4.0,2.0,1.0,1.0,0.0,1.0,15.0,1.0,29.0,12.0,21.0,5.0,3.0,1.0,2.0,0.0,100.0,15.0
2,100.0,1.0,2.0,1.0,1.0,1.0,2.0,0.0,7.0,50.0,0.0,45.0,4.0,1.0,1.0,0.0,0.0,150.0,50.0
3,225.0,26.0,6.0,2.0,3.0,3.0,3.0,10.0,3.0,365.0,9.0,42.0,2.0,23.0,18.0,0.0,0.0,350.0,90.0
4,150.0,3.0,2.0,1.0,1.0,1.0,1.0,0.0,3.0,21.0,11.0,0.0,0.0,2.0,0.0,2.0,0.0,100.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83704,28.0,1.0,6.0,2.0,3.0,3.0,1.0,0.0,1.0,90.0,11.0,0.0,0.0,1.0,0.0,1.0,0.0,350.0,25.0
83705,225.0,26.0,6.0,1.0,2.0,3.0,3.0,15.0,1.0,1125.0,12.0,0.0,0.0,23.0,18.0,0.0,0.0,0.0,80.0
83706,66.0,1.0,4.0,1.0,1.0,2.0,1.0,0.0,3.0,1125.0,13.0,0.0,0.0,1.0,1.0,0.0,0.0,250.0,70.0
83707,69.0,2.0,2.0,1.0,1.0,2.0,1.0,25.0,7.0,60.0,8.0,0.0,0.0,1.0,0.0,1.0,0.0,100.0,19.0
83708,55.0,2.0,1.0,1.0,1.0,1.0,1.0,25.0,7.0,61.0,11.0,0.0,0.0,2.0,1.0,1.0,0.0,100.0,30.0

In [205]:
new_outlier_cols=[]
for i in outlier_cols:
    iqr=df[i].quantile(0.75)-df[i].quantile(0.25)
    higher_range=df[i].quantile(0.75)+(1.5*iqr)
    lower_range=df[i].quantile(0.25)-(1.5*iqr)
    if df[i][df[i]<lower_range].count()>0 or df[i][df[i]>higher_range].count()>0:
        new_outlier_cols.append(i)
        print(True,i)
    else:
        print(False)
new_outlier_cols

False
True host_listings_count
False
False
False
False
True guests_included
False
True minimum_nights_y
False
False
True number_of_reviews_y
True number_of_reviews_ltm
True calculated_host_listings_count_y
True calculated_host_listings_count_entire_homes
True calculated_host_listings_count_private_rooms
False
False
False

['host_listings_count',
 'guests_included',
 'minimum_nights_y',
 'number_of_reviews_y',
 'number_of_reviews_ltm',
 'calculated_host_listings_count_y',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms']

In [206]:
for i in new_outlier_cols:
    iqr=df[i].quantile(0.75)-df[i].quantile(0.25)
    higher_range=df[i].quantile(0.75)+(1.5*iqr)
    lower_range=df[i].quantile(0.25)-(1.5*iqr)
    replace_higher_value=df[i].quantile(0.8)
    replace_lower_value=df[i].quantile(0.2)
    outlier_treated=np.where(df[i]>higher_range,replace_higher_value,df[i])
    df[i]=pd.DataFrame(outlier_treated)
    outlier_treated=np.where(df[i]<lower_range,replace_lower_value,df[i])
    df[i]=pd.DataFrame(outlier_treated)

In [207]:
for i in new_outlier_cols:
    iqr=df[i].quantile(0.75)-df[i].quantile(0.25)
    higher_range=df[i].quantile(0.75)+(1.5*iqr)
    lower_range=df[i].quantile(0.25)-(1.5*iqr)
    if df[i][df[i]<lower_range].count()>0 or df[i][df[i]>higher_range].count()>0:        
        print(True,i)
    else:
        print(False)

False
False
False
False
False
False
False
False

### Encoding

In [208]:
for i in cat_cols:
    if df[i].value_counts().count()<3:
        df[i]=df[i].map({'t':1,'f':0})   
    else:
        df[i]=LabelEncoder().fit_transform(df[i])

In [209]:
for i in cat_cols:
    print(df[i].value_counts())
    print('----------------------------------')

2    82170
0      524
1      450
4      367
3      198
Name: experiences_offered, dtype: int64
----------------------------------
0    71165
1    12544
Name: host_is_superhost, dtype: int64
----------------------------------
1    83388
0      321
Name: host_has_profile_pic, dtype: int64
----------------------------------
0    54908
1    28801
Name: host_identity_verified, dtype: int64
----------------------------------
1    57239
0    26470
Name: is_location_exact, dtype: int64
----------------------------------
1     55572
23    17851
36     2817
14     2161
32     1441
28      748
3       600
5       403
19      382
20      316
21      272
22      252
30      213
6       167
15       89
35       69
0        68
4        65
38       50
24       36
8        25
17       20
9        16
13       14
25       11
2         7
40        7
18        7
11        6
12        3
10        3
16        3
34        3
37        3
27        2
26        2
31        1
29        1
7         1
33        1
39        1
Name: property_type, dtype: int64
----------------------------------
0    46711
2    35591
1      745
3      662
Name: room_type_y, dtype: int64
----------------------------------
4    83103
3      351
2      154
1       60
0       41
Name: bed_type, dtype: int64
----------------------------------
0    48022
1    35687
Name: instant_bookable, dtype: int64
----------------------------------
5    33696
0    28859
3    20707
6      258
7      151
1       27
4        6
2        5
Name: cancellation_policy, dtype: int64
----------------------------------
0    82924
1      785
Name: require_guest_profile_picture, dtype: int64
----------------------------------
0    82409
1     1300
Name: require_guest_phone_verification, dtype: int64
----------------------------------
1354    34926
807     10884
723     10813
1265     7007
1381     6877
        ...
1829        1
1893        1
1957        1
2021        1
0           1
Name: host_location, Length: 2513, dtype: int64
----------------------------------
1820    964
1987    317
1743    283
1399    271
545     197
       ...
71        1
199       1
52        1
478       1
229       1
Name: host_since, Length: 3664, dtype: int64
----------------------------------
329     46748
717     13806
853     13211
733      1696
783      1074
        ...
421         1
357         1
165         1
1380        1
0           1
Name: street, Length: 1432, dtype: int64
----------------------------------
223    47784
355    30454
356      783
631      168
143      164
       ...
611        1
675        1
36         1
292        1
0          1
Name: city, Length: 729, dtype: int64
----------------------------------

In [210]:
df.head()

,price_x,experiences_offered,host_is_superhost,host_listings_count,host_has_profile_pic,host_identity_verified,is_location_exact,property_type,room_type_y,accommodates,bathrooms,bedrooms,beds,bed_type,guests_included,extra_people,minimum_nights_y,maximum_nights,availability_30,availability_60,availability_90,availability_365_y,number_of_reviews_y,number_of_reviews_ltm,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count_y,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,host_location,host_since,street,city,security_deposit,cleaning_fee
0,88.0,1,0,3.0,1,1,1,1,0,4.0,1.0,1.0,3.0,4,2.0,20.0,2.0,180.0,12.0,42,72,347,22.0,9.0,1,5,0,1,2.0,2.0,0.0,0.0,1354,36,853,355,350.0,35.0
1,65.0,0,0,4.0,1,1,1,1,2,2.0,1.0,1.0,0.0,4,1.0,15.0,1.0,29.0,12.0,42,72,347,21.0,5.0,0,3,0,0,3.0,1.0,2.0,0.0,1354,44,481,306,100.0,15.0
2,100.0,3,0,1.0,1,1,1,1,0,2.0,1.0,1.0,1.0,4,2.0,0.0,4.0,50.0,0.0,0,13,288,22.0,4.0,1,5,1,1,1.0,1.0,0.0,0.0,1100,50,853,355,150.0,50.0
3,225.0,2,0,7.0,1,1,0,1,0,6.0,2.0,3.0,3.0,4,3.0,10.0,3.0,365.0,9.0,39,69,326,42.0,2.0,1,5,0,0,7.0,3.0,0.0,0.0,1354,57,720,355,350.0,90.0
4,150.0,0,0,3.0,1,0,1,3,2,2.0,1.0,1.0,1.0,4,1.0,0.0,3.0,21.0,11.0,41,71,346,0.0,0.0,0,5,0,0,2.0,0.0,2.0,0.0,1354,58,853,355,100.0,30.0

### OLS summary